<footer class="page-footer black center-on-small-only">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-link">
        {{#link-to 'index' class='logo white'}}
          You Rockstar
        {{/link-to}}
      </div>

      <div class="col-sm-6 col-email">
        <a href="mailto:yourockstar@gmail.com" title="Get in touch" data-toggle="tooltip" data-placement="top" target="_blank">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
          </span>
        </a>

        <a href="https://github.com/you-rockstar/you-rockstar" title="Fork on GitHub" data-toggle="tooltip" data-placement="top" target="_blank">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-github-alt fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </div>
    </div>
  </div>

  <div class="footer-copyright">
    <div class="container-fluid">
      © 2017 Copyright

      {{#link-to 'index'}}
        You Rockstar
      {{/link-to}}
    </div>
  </div>
</footer>
