<footer class="page-footer navy center-on-small-only">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-link">
        {{#link-to 'index' class='logo white'}}
          You Rockstar
        {{/link-to}}
      </div>

      <div class="col-sm-6 col-email">
        <a href="mailto:yourockstar@gmail.com">
          yourockstar@gmail.com
        </a>
      </div>
    </div>
  </div>

  <div class="footer-copyright">
    <div class="container-fluid">
      © 2017 Copyright

      {{#link-to 'index'}}
        You Rockstar
      {{/link-to}}
    </div>
  </div>
</footer>
