<section class="get-started">
  <div class="container full-height">
    <div class="row full-height">
      <div class="col-sm-9 full-height col-action">
        <div class="flex-center flex-column flex-container">
          <h1 class="animated fadeIn">
            Generate a Resumé in minutes
          </h1>

          <p class="animated fadeIn">
            Create, Download and Send. It's that simple.
          </p>

          <div class="button-container animated fadeIn">
            {{#link-to 'resume' class='btn btn-rounded btn-h20 btn-rz-1'}}
              Let's do it
            {{/link-to}}
          </div>
        </div>
      </div>

      <div class="col-sm-3 full-height col-image">
        <div class="flex-center flex-column">
          <img src="{{device}}">
        </div>
      </div>
    </div>
  </div>
</section>
