<section id="get-started" class="get-started">
  <div class="container full-height">
    <div class="row full-height">
      <div class="col-sm-8 full-height col-action">
        <div class="flex-center flex-column flex-container">
          <h1 class="animated fadeIn">
            Generate a Resumé in minutes
          </h1>

          <p class="animated fadeIn">
            Create, Customize and Download. It's that simple.
          </p>

          <div class="button-container animated fadeIn">
            {{#link-to 'resume.edit' class='btn btn-rounded btn-primary btn-rz-1 waves-effect'}}
              Get Started
            {{/link-to}}
          </div>
        </div>
      </div>

      <div class="col-sm-4 full-height col-image">
        <div class="device-outer-box">
          <img src="assets/images/homepage/imac.png" class="device">

          <div class="device-inner-box">
            <img src="assets/images/preview/screen-shot.png" class="page">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
