<header class="homepage-header">
  {{!-- {{yr-stars}} --}}

  <div class="flex-center flex-column">
    <h1 class="animated fadeIn">
      At <span class="logo">You Rockstar</span>,<br>
      you are the star.
    </h1>

    <!-- <h5 class="animated fadeIn mb-3">
      Thank you for using our product. We're glad you're with us.
    </h5> -->

    <h2 class="animated fadeIn">
      We simply help you to show your talent on the stage.
    </h2>

    <div class="animated fadeIn text-center">
      <button class="btn btn-rounded btn-h20 btn-rz-1"
              {{action 'scrollToElem' '#get-started'}}>
        Get Started
      </button>
    </div>
  </div>
</header>
