<header class="homepage-header parallax aurora">
  <div class="parallax-window cover-view" data-parallax="scroll" data-image-src="assets/images/rocknroll/1.jpeg">
    <div class="rocket-glass"></div>

    <div class="flex-center flex-column flex-contained">
      <h1 class="mega-header animated fadeIn">
        Because you are the real rockstar
      </h1>

      <h2 class="animated fadeIn">
        We help you to show your talent on stage
      </h2>

      <div class="animated fadeIn text-center">
        <a {{action 'scrollToElem' '#get-started'}}>
          <span class="arrow"></span> Scroll
        </a>
      </div>
    </div>
  </div>
</header>
