<nav class="navbar navbar-expand-lg fixed-top animated fadeIn">
  <div class="container-fluid navbar-container">
    {{#link-to 'index' class='navbar-brand logo'}}
      YR <i class="fa fa-star"></i>
    {{/link-to}}

    {{#link-to 'resume.edit'
               id='btn-launch-app'
               class='btn
                      btn-h20
                      btn-rz-4
                      btn-flat-mode
                      btn-not-rounded
                      btn-thrown-right'}}
      Lauch app
    {{/link-to}}
  </div>
</nav>
