<nav class="navbar navbar-expand-lg fixed-top animated fadeIn">
  <div class="container-fluid navbar-container">
    {{#link-to 'index' class='navbar-brand logo'}}
      You Rockstar
    {{/link-to}}
  </div>
</nav>
