<section class="parallax our-approach">
  <div class="parallax-window cover-view"
       data-parallax="scroll"
       data-image-src="assets/images/rocknroll/2.jpeg">
    <div class="flex-center flex-column flex-contained">
      <h1 class="mega-header animated fadeIn mb-5">
        A modern approach for building CVs on the web
      </h1>

      {{#link-to 'resume.edit'
                 class='btn
                        btn-rounded
                        btn-outline-white
                        btn-rz-1
                        wave-effect'}}
        Sing along
      {{/link-to}}
    </div>
  </div>
</section>
