<section class="container pick-a-template">
  <h1>Pick a Template</h1>

  <div class="row">
    {{#each templates as |template|}}
      {{yr-templates/yr-thumbnail
        template=template
        select='select'}}
    {{/each}}
  </div>
</section>
