<section class="why">
  <div class="container full-height">
    <div class="row flex-center justify-content-center">
      <div class="col-sm-4">
        <div class="card card-body hoverable">
          <h2 class="card-title">
            <i class="fa fa-user-circle-o" aria-hidden="true"></i>
          </h2>

          <h3 class="card-title">UX First</h3>

          <p class="card-text">
            High Quality CV Templates and Colour Palettes.
            We provide the excellent usability so you
            actually only care about getting work done.
          </p>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card card-body hoverable">
          <h2 class="card-title">
            <i class="fa fa-heart" aria-hidden="true"></i>
          </h2>

          <h3 class="card-title">Forever free</h3>

          <p class="card-text">
            This project has been built with help from
            Open Source world and our codebase is
            available via the MIT licence.
          </p>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card card-body hoverable">
          <h2 class="card-title">
            <i class="fa fa-bolt" aria-hidden="true"></i>
          </h2>

          <h3 class="card-title">No Sign Up</h3>

          <p class="card-text">
            Time is is the one resource we can not take
            back. We value yours so we don't keep asking
            you to Sign Up. Move fast and smash the
            competition.
          </p>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card card-body hoverable">
          <h2 class="card-title">
            <i class="fa fa-user-secret" aria-hidden="true"></i>
          </h2>

          <h3 class="card-title">We care about your data</h3>

          <p class="card-text">
            You're safe with us: this app runs locally and we
            <strong>never</strong> submit your data to the cloud
            without your explicit consent so you do not have to
            worry about privacy issues.
          </p>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card card-body hoverable">
          <h2 class="card-title">
            <i class="fa fa-leaf" aria-hidden="true"></i>
          </h2>

          <h3 class="card-title">Keep it simple</h3>

          <p class="card-text">
            People do not have time for reading 2x or 3x CV
            pages so you do not need to spent time building
            a Resumé that has more than one page.
          </p>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card card-body hoverable">
          <h2 class="card-title">
            <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
          </h2>

          <h3 class="card-title">Fast Forward Download</h3>

          <p class="card-text">
            We want to allow you to download this in the way that
            works best for you. Right now we only support PDF but
            in the near future you will be able to download your CV
            in HTML, JSON and Microsoft Word (.doc) formats.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
