<article class="template template-2 palette-{{palette.id}}">
  <div class="row">
    <div class="col-md-5 col-left">
      <header>
        <h1>
          Kimberly Rodriguez
        </h1>

        <h2>
          Software Developer
        </h2>
      </header>

      <section class="contact">
        <h1>Contact</h1>

        <p>+323 234234 234234</p>
        <p>kimberly@main.com</p>
        <p>@krodriguez</p>
      </section>
    </div>

    <div class="col-md-7 col-right">
      <section>
        <h1>Profile</h1>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </section>

      <section>
        <h1>Experience</h1>

        <div class="section-item">
          <h2>
            Instructor
          </h2>

          <h3>
            University Lorem Lorem Lorem
          </h3>

          <ul>
            <li>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit
            </li>

            <li>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit
            </li>

            <li>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit
            </li>

            <li>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit
            </li>
          </ul>
        </div>

        <div class="section-item">
          <h2>
            Teacher Assistent
          </h2>

          <h3>
            University Lorem Lorem Lorem
          </h3>

          <ul>
            <li>
              Consectetur adipisicing elit lorem ipsum dolor sit amet
            </li>

            <li>
              Consectetur adipisicing elit lorem ipsum dolor sit amet
            </li>

            <li>
              Consectetur adipisicing elit lorem ipsum dolor sit amet
            </li>

            <li>
              Consectetur adipisicing elit lorem ipsum dolor sit amet
            </li>
          </ul>
        </div>
      </section>

      <section>
        <h1>Education</h1>

        <div class="section-item">
          <h2>
            BA in Psicology
          </h2>

          <h3>
            University Lorem Lorem Lorem
          </h3>

          <ul>
            <li>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit
            </li>

            <li>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit
            </li>

            <li>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit
            </li>

            <li>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit
            </li>
          </ul>
        </div>

        <div class="section-item">
          <h2>
            BA in Gastronomy
          </h2>

          <h3>
            University Lorem Lorem Lorem
          </h3>

          <ul>
            <li>
              Consectetur adipisicing elit lorem ipsum dolor sit amet
            </li>

            <li>
              Consectetur adipisicing elit lorem ipsum dolor sit amet
            </li>

            <li>
              Consectetur adipisicing elit lorem ipsum dolor sit amet
            </li>

            <li>
              Consectetur adipisicing elit lorem ipsum dolor sit amet
            </li>
          </ul>
        </div>
      </section>

      <section>
        <h1>Skills</h1>

        <ul>
          <li>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit
          </li>

          <li>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit
          </li>

          <li>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit
          </li>

          <li>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit
          </li>
        </ul>
      </section>
    </div>
  </div>
</article>
