<div class="col-sm-4 col-thumbnail">
  <div class="card {{state.card_class_name}}">
    <div class="view overlay hm-white-slight">
      <img src="{{imageUrl}}" class="img-fluid" alt="{{simpleTitle}}">

      <a {{action 'selectTemplate' template}}>
        <div class="mask">
          <i class="i-container">
            <i class="i-check">L</i>
          </i>
        </div>
      </a>
    </div>
  </div>
</div>
