.control {
  padding: .9rem 0 0;
  margin: 0 0 1rem;

  .switchery-mode {
    label {
      width: 5rem;
      white-space: nowrap;
      margin: 0;
      color: $cinder;
      font-weight: 400;
      cursor: pointer;

      &:first-child { text-align: left; }
      &:last-child { text-align: right; }

      &.active {
        font-weight: 800;
      }
    }
  }

  .radius-mode {
    label.active { font-weight: 900; }
  }

  .js-switch + .switchery {
    transform: rotate(180deg);
  }
}
