@import url('https://fonts.googleapis.com/css?family=Merienda+One|Crimson+Text|Nunito|Lato');

$merienda-one: 'Merienda One', cursive;
$roboto: 'Roboto', sans-serif;
$crimson-text: 'Crimson Text', serif;
$nunito: 'Nunito', sans-serif;
$lato: 'Lato', sans-serif;
