footer.page-footer {
  margin-top: 0;

  .col-link,
  .col-email {
    padding-top: 1rem;
    padding-bottom: 2rem;
  }

  .col-link {
    text-align: left;
    font-size: 1.3rem;
  }

  .col-email { text-align: right; }

  &.blue {
    background-color: $orlando !important;
  }

  &.navy {
    background-color: #0d0b21 !important;

    .footer-copyright {
      background-color: rgb(11, 9, 25) !important;
    }
  }

  &.black {
    background-color: #212529;

    .footer-copyright {
      background-color: rgba(255, 255, 255, 0.03);
    }
  }

  .fa-stack .fa-inverse {
    color: #212529;
  }
}
