.logo {
  font-family: $merienda-one;
  font-weight: 400;
  font-style: inherit;
  color: inherit;
  white-space: nowrap;

  &.white {
    color: #fff !important;
    background: none !important;
    -webkit-text-fill-color: #fff;
  }

  i {
    position: relative;
    left: -.5rem;
    background: -webkit-linear-gradient($caribe, $orlando);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
