body.modal-open { overflow: hidden; }

.modal {
  .close {
    font-weight: 300;
    color: #555;
    font-size: 2rem;
    opacity: 1;
    text-shadow: none;
    cursor: pointer;
  }
}

@media (min-width: 992px) {
  .modal-lg {
    max-width: 95%;
  }
}
