.resume {
  padding: 3.8rem 0 0;

  .navbar {
    border-radius: 0;
  }

  .btn-back {
    display: none;
  }

  &.preview,
  &.edit {
    min-height: 100%;
  }

  @import 'resume/index';
  @import 'resume/edit';
  @import 'resume/preview';
  @import 'resume/download';
}
