.col-thumbnail {
  text-align: left;

  .card {
    border-radius: .2rem;
    width: 15rem;

    img {
      border-radius: .2rem;
    }

    .mask {
      .i-container {
        background: linear-gradient(40deg, $caribe, $orlando);
        transform: rotatey(180deg);
        border-radius: 100%;
        margin: 1rem 1rem 0 0;
        float: right;
        display: none;
        width: 3rem;
        height: 3rem;
        padding: .35rem 0 0 .75rem;
      }

      .i-check {
        color: #fff;
        text-align: center;
        font-size: 1.5rem;
        text-transform: uppercase;
        transform: rotate(-50deg);
        font-style: normal;
        display: block;
        line-height: normal;
        margin: 0;
        width: 100%;
        height: 100%;
        font-weight: 400;
      }
    }

    &.selected {
      .mask {
        background-color: transparent;
        opacity: 1;

        .i-container { display: block; }
      }
    }
  }
}
