.c-pointer { cursor: pointer; }

.badge {
  &.white,
  &.badge-white {
    background-color: $white;
    color: inherit;
    font-weight: 400;
    font-size: .8rem;
    box-shadow: none;
    border: .12rem solid $cinder;
    border-radius: 1rem;
    padding: .15rem .5rem;
  }
}

.mega-header {
  text-align: center;
  font-family: $merienda-one;
  font-weight: 400;
  font-size: 5rem;
  margin: 0 0 1rem;
  color: $white;
}
