.template-1 {
  padding: 0 15px 4rem;

  // Palettes

  &.palette-1 {
    background-color: #eef1f3;

    header { border-color: #d6d6d6; }

    h1,
    h2 {
      color: #3c3c3c;
    }

    header h2,
    h3,
    p,
    ul li {
      color: #484848;
    }
  }

  &.palette-2 {
    background-color: $white;

    h1,
    h2 {
      color: #636363;
    }

    header h2,
    h3,
    p,
    ul li {
      color: #4e4e4e;
    }
  }

  &.palette-8 {
    background-color: $white;

    h1,
    h2 {
      color: #3f51b5;
    }

    header h2,
    h3,
    p,
    ul li {
      color: #212529;
    }
  }

  &.palette-10 {
    background-color: $white;

    h1,
    h2 {
      color: #212529;
    }

    header h2,
    h3,
    p,
    ul li {
      color: #212529;
    }
  }

  // Structure

  header {
    height: auto;
    border-bottom: 1px solid #eaeaea;
    margin: 0 0 3.3rem;
    padding: 3rem 0 2.4rem;

    h1,
    h2 {
      margin: 0;
      text-align: center;
    }

    h1 {
      font-size: 4.2rem;
      margin: 0 0 .5rem;
    }

    h2 {
      font-size: 1.4rem;
      font-family: $roboto;
      font-weight: 400;
      line-height: normal;
    }
  }

  section {
    margin: 0 0 2.5rem;
    height: auto;

    &:last-child { margin: 0; }

    h1 {
      font-weight: 600;
    }
  }

  > .row { height: 100%; }

  // FONT

  h1 {
    font-size: 1.5rem;
    text-align: left;
    margin: 0 0 1.5rem;
  }

  h2 {
    font-size: 1rem;
    margin: 0 0 .3rem;
    font-weight: 600;
  }

  h1,
  h2 {
    text-transform: uppercase;
    font-family: $crimson-text;
  }

  p,
  h3,
  li {
    font-family: $roboto;
    font-weight: 400;
  }

  h3 {
    font-size: .9rem;
    margin: 0 0 1rem;
  }

  p,
  li {
    font-size: 1rem;
  }

  .inner-section {
    margin: 0 0 2rem;

    &:last-child { margin: 0; }
  }

  ul {
    margin: 0;
    padding: 0 0 0 1rem;

    li {
      list-style: none;
      position: relative;

      &:last-child { margin: 0; }

      .bullet {
        position: absolute;
        top: -0.15rem;
        left: -1rem;
        font-size: 1rem;
      }
    }
  }
}
