<div class="container download-container">
  <div class="row">
    <div class="col-md-2"></div>

    <div class="col-md-8">
      <div class="jumbotron animated fadeIn">
        <h1 class="h1-responsive">You have made it.</h1>

        <p class="lead">
          Thank you for using our product. We're glad you're with us.
        </p>

        <hr class="my-2">

        <p>
          When you click on the Download button below, a page containing your Resumé will appear and prompt you to a final view before downloading it.

          {{resume/yr-download-tips}}
        </p>

        <button class="btn btn-h20 btn-rounded"
                role="button"
                {{action 'genPDF'}}>
          Download
        </button>
      </div>
    </div>
  </div>
</div>

<div class="downloadable-template">
  {{component (concat 'yr-templates/yr-template-' resume.template.id)
    template=resume.template
    palette=resume.palette
    sm=true}}
</div>
