<div class="container download-container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="jumbotron">
        <h1 class="h1-responsive">You have made it.</h1>

        <p class="lead">
          We are going to generate a PDF version of your Resumé and make it available for you to donwload it.
        </p>

        <hr class="my-2">

        <p>
          When you click on the Download link below, a page containing your Resumé will appear and prompt you to a final view before downloading it. In case you feel confortable with it, click the button download. Otherwise, you can close the window and make any change to your CV as needed.
        </p>

        <button class="btn btn-h20 btn-rounded"
                role="button"
                {{action 'genPDF'}}>
          Download
        </button>
      </div>
    </div>
  </div>
</div>

<div class="downloadable-template">
  {{yr-templates/yr-template-1
    template=resume.template
    palette=resume.palette
    sm=true}}
</div>
