<div id="wrapper">
  <div id="page-content-wrapper">
    <div class="feature-container">
      <div class="container-fluid">
        <div class="template-container animated fadeIn">
          {{resume/yr-control
            template=resume.template
            templates=resume.templates
            palette=resume.palette
            palettes=resume.palettes
            selectTemplate='selectTemplate'
            selectPalette='selectPalette'}}

          <div class="z-depth-2">
            {{component templateComponentName
              template=resume.template
              palette=resume.palette
              sm=false}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
