<div id="wrapper">
  {{resume/yr-sidebar
    templates=resume.templates
    palettes=resume.palettes
    selectTemplate='selectTemplate'
    selectPalette='selectPalette'}}

  <div id="page-content-wrapper">
    <div class="feature-container">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <div class="template-container">
              {{component (concat 'yr-templates/yr-template-' resume.template.id)
                template=resume.template
                palette=resume.palette}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
