<div class="feature-container">
  <div class="template-container animated fadeIn">
    {{component (concat 'yr-templates/yr-template-' resume.template.id)
      template=resume.template
      palette=resume.palette
      sm=true}}
  </div>
</div>
