&.edit {
  margin: 0;
  height: auto;
  background-color: #fff;

  .template-container {
    margin: 0 auto;
    padding: 0;
    width: 64rem;
  }

  .feature-container {
    position: relative;
    padding: 0 0 3rem;
  }
}
