<span class="badge badge-info c-pointer" data-toggle="popover">?</span>

<div class="poppover-template">
  <div class="popover" role="popover">
    <div class="popover-arrow"></div>
    <div class="popover-inner"></div>
  </div>
</div>

<div class="d-none poppover-content">
  <p class="mb-5">
    Make sure that you set up your browser
    pritting settings as per outlined on the
    image below.
  </p>

  <img src="assets/images/download-settings.png" class="img-fluid">
</div>
