<span class="badge badge-white c-pointer" data-toggle="popover">tip</span>

<div class="poppover-template d-none">
  <div class="popover" role="popover">
    <div class="popover-arrow"></div>
    <div class="popover-inner"></div>
  </div>
</div>

<div class="poppover-content d-none">
  <p class="mb-4">
    Make sure that you set up your browser
    settings as per outlined on the
    image below!
  </p>

  <img src="assets/images/download/settings-sample.png" class="img-fluid">
</div>
