<div class="modal fade modal-edit-the-template" id="basicExample" tabindex="-1" role="dialog" aria-labelledby="title-modal-edit-the-template" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100" id="title-modal-edit-the-template">
          {{template.name}}
        </h4>

        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="row">
          <div class="col-sm-8 col-preview">
            <h2>Preview</h2>

            {{yr-templates/yr-template-1
              template=template
              palette=palette}}
          </div>

          <div class="col-sm-4 col-themes">
            <h2>Themes</h2>

            <h3>Light</h3>

            <div class="list">
              {{#each palettes_light_bg as |palette|}}
                {{resume/yr-palette
                  palette=palette
                  selectPalette='selectPalette'}}
              {{/each}}
            </div>

            <h3>Dark</h3>

            <div class="list">
              {{#each palettes_dark_bg as |palette|}}
                {{resume/yr-palette
                  palette=palette
                  selectPalette='selectPalette'}}
              {{/each}}
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button class="btn
                       btn-rounded
                       btn-meteor
                       btn-rz-3"
                data-dismiss="modal">
          Close
        </button>

        <button class="btn
                       btn-rounded
                       btn-h20
                       btn-rz-3">
          Save
        </button>
      </div>
    </div>
  </div>
</div>
